{% extends "base.html" %}

{% block title %}
    Accounts
{% endblock title %}

{% block content %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Account Name</th>
                    <th>PnL</th>
                    <th>Total Trades</th>
                    <th>Win %</th>
                    <th>Last Trade Date</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.id }}</td>
                        <td>{{ account.name }}</td>
                        <td class="{{ account.total_pnl | pnl_class }}">{{ account.total_pnl | currency_format }}</td>
                        <td>{{ account.total_trades }}</td>
                        <td>{{ account.win_percent | round }}</td>
                        <td>{{ account.last_trade_date | excel_to_utc }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
