{% extends "base.html" %}

{% block title %}
    Executions
{% endblock title %}

{% block content %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Ticker</th>
                    <th>Fill Price</th>
                    <th>Entry Time</th>
                    <th>Quantity</th>
                    <th>Position</th>
                    <th>Is Entry</th>
                    <th>Trade ID</th>
                </tr>
            </thead>
            <tbody>
                {% for execution in executions %}
                    <tr>
                        <td>{{ execution.account_name }}</td>
                        <td>{{ execution.ticker }}</td>
                        <td>{{ execution.price | round_hundreths }}</td>
                        <td>{{ execution.fill_time | excel_to_utc }}</td>
                        <td>{{ execution.quantity }}</td>
                        <td>{{ execution.position }}</td>
                        <td>{{ execution.is_entry }}</td>
                        <td>{{ execution.trade_id }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
