<div>
    <div>
        <canvas id="account-chart-{{ account_chart.account_id }}" class="account-chart"></canvas>
    </div>
    Account Name: {{ account_chart.account_name }}
    Total PnL: {{ account_chart.total_pnl | currency_format }}
    Largest Day: {{ account_chart.largest_day | currency_format }}
    Total trades: {{ account_chart.total_trades_count }}
    {% if account_chart.total_winning_days > 0 %}
        Win %: {{ (account_chart.total_trades_count / account_chart.winning_trades_count) * 100 | round }}
        Average Winning Day: {{ (account_chart.winning_days_pnl_total / account_chart.total_winning_days) | currency_format }}
    {% else %}
        Win %: 0
        Average Winning Day: $0.00
    {% endif %}
    {% if account_chart.total_losing_days > 0 %}
        Average Losing Day: {{ (account_chart.losing_days_pnl_total / account_chart.total_losing_days) | currency_format }}
    {% else %}
        Average Losing Day: $0.00
    {% endif %}
</div>
