<nav>
    <div>
    </div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <!--<li>-->
            <!--<a href="/journal_entries">Journal</a>-->
        <!--</li>-->
        <li>
            <a href="/calendar">Calendar</a>
        </li>
        <!--<li>-->
            <!--<a href="/statistics">Statistics</a>-->
        <!--</li>-->
    </ul>
    <ul>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</nav>
