<nav class="navigation">
    <a href="/">
        <img class="nav-logo" src="/static/images/logo.png">
    </a>
    <ul class="nav-section">
        <li>
            <a href="/">Home</a>
        </li>
        &nbsp; | 
        <li>
            <a href="/journal_entries">Journal</a>
        </li>
        &nbsp; | 
        <li>
            <a href="/calendar">Calendar</a>
        </li>
        &nbsp; | 
        <li>
            <a href="/trades">Trades</a>
        </li>
        &nbsp; | 
        <li>
            <a href="/executions">Executions</a>
        </li>
        <!--<li>-->
            <!--<a href="/payouts">Payouts</a>-->
        <!--</li>-->
    </ul>
    <ul class="nav-section">
        {% if not logged_in %}
            <li>
                <a href="/login">Login</a>
            </li>
        {% else %}
            <li>
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
        {% endif %}
    </ul>
</nav>
