/* Normalize some basic HTML elements */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #F0EAD6;
  line-height: 1.6;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #F0EAD6;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.mini-calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mini-month-weeks-container {
  padding: 5px;
}

.mini-month-container {
  margin: 2px;
  color: #F0EAD6;
}
.mini-month-container .mini-month-header {
  padding: 15px 0;
  text-align: center;
}
.mini-month-container .mini-month-header .month-and-year {
  font-weight: 600;
}
.mini-month-container .mini-month-header .green-day {
  color: #3FB93F;
}
.mini-month-container .mini-month-header .red-day {
  color: #CD2E3A;
}

.mini-week-container {
  display: flex;
}

.mini-month-day {
  display: inline-block;
  border: solid 1px #E9B43A;
  color: #F0EAD6;
  height: 50px;
  width: 50px;
  margin: 2px;
  padding: 3px;
  line-height: normal;
}
.mini-month-day.padding-day {
  visibility: hidden;
}
.mini-month-day.green-day {
  background-color: #3FB93F;
  border-color: #3FB93F;
}
.mini-month-day.red-day {
  background-color: #CD2E3A;
  border-color: #CD2E3A;
}

.navigation {
  display: flex;
  align-items: center;
  background-color: #0F0F0F;
  padding: 0 10px;
}

.nav-logo {
  height: 75px;
}

.nav-section {
  display: flex;
  color: #E9B43A;
}
.nav-section:last-child {
  margin-left: auto;
}
.nav-section > li:not(:first-child) {
  margin-left: 5px;
}
.nav-section > li a {
  color: #F0EAD6;
}
.nav-section > li a:hover {
  color: #05D0F5;
  position: relative;
  text-decoration: underline;
  top: 1px;
}

.weekly-trades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mini-days {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mini-days .day-name {
  font-size: 10px;
}

.mini-days-week {
  display: flex;
  flex-direction: column;
}

.mini-day {
  display: inline-block;
  margin: 2px;
  height: 12px;
  width: 12px;
  border-radius: 2px;
  background-color: gray;
}
.mini-day.green-day {
  background-color: #3FB93F;
}
.mini-day.red-day {
  background-color: #CD2E3A;
}

table {
  margin: auto;
  border-collapse: collapse;
}
table thead tr {
  border-bottom: solid 3px #00479f;
  color: #E9B43A;
}
table thead tr th {
  min-width: 100px;
  padding: 3px 5px;
  background-color: #CD2E3A;
}
table thead tr th:first-child {
  border-top-left-radius: 5px;
}
table thead tr th:last-child {
  border-top-right-radius: 5px;
}
table tbody tr td {
  padding: 3px 11px;
  text-align: center;
}
table tbody tr td.green-day {
  color: #3FB93F;
}
table tbody tr td.red-day {
  color: #CD2E3A;
}
table tbody tr:hover {
  position: relative;
  top: 1px;
  text-decoration: underline;
  color: #05D0F5;
}
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.button {
  color: black;
  padding: 4px;
  background-color: #FDB927;
  cursor: pointer;
  margin: 8px auto;
}
.button:hover {
  cursor: pointer;
  filter: brightness(90%);
  text-decoration: underline;
}
.button:active {
  position: relative;
  top: 2px;
}

.show-more-button.showing {
  background-color: red;
}
.show-more-button.showing:hover + .journal-entry-notes-container {
  border: solid 2px #FFEA00;
}
.show-more-button.hiding {
  background-color: #16FF00;
}

.logout-button {
  background-color: red;
}

.submit-form-button {
  background-color: #16FF00;
  margin: 5px 0;
}

.journal-entry-container {
  max-width: 700px;
  margin: auto;
}
.journal-entry-container .journal-entry-day {
  padding: 10px 0 20px 0;
}
.journal-entry-container .journal-entry-date {
  font-weight: 600;
  font-size: 24px;
  color: #E9B43A;
}
.journal-entry-container .account-overview-title {
  font-weight: 600;
  border-bottom: solid 1px #FFFFFF;
  padding-bottom: 5px;
}
.journal-entry-container .account-overview-title.pa-account-overview {
  color: #CD2E3A;
}
.journal-entry-container .account-overview-title.eval-account-overview {
  color: #00479f;
}
.journal-entry-container .journal-entry-account-overview {
  padding-top: 15px;
}
.journal-entry-container .journal-entry-form-notes {
  color: #000000;
  width: 100%;
  height: 200px;
}
.journal-entry-container .parsed-image-to-markdown-container {
  display: none;
}
.journal-entry-container .parsed-image-to-markdown-container .parsed-google-drive-image-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  text-align: left;
}
.journal-entry-container .parsed-image-to-markdown-container .parsed-google-drive-image-button:hover {
  text-decoration: underline;
  color: #05D0F5;
}
.journal-entry-container .parsed-image-to-markdown-container .parsed-google-drive-image-button:active {
  position: relative;
  top: 2px;
}
.journal-entry-container .green-day {
  color: #3FB93F;
}
.journal-entry-container .red-day {
  color: #CD2E3A;
}

.account-charts {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}
.account-charts .account-charts-container {
  margin: auto;
  width: 45%;
}
.account-charts .account-charts-chart-container {
  margin-top: 24px;
}
.account-charts .account-charts-chart-container .account-charts-title {
  text-align: center;
  margin-bottom: 5px;
}
.account-charts .account-charts-info-container {
  display: flex;
}
.account-charts .account-charts-info-container .account-charts-info-items {
  flex-grow: 1;
}
.account-charts .account-charts-info-container .chart-info-label {
  width: 60%;
  text-align: right;
  display: inline-block;
}
.account-charts .green-day {
  color: #3FB93F;
}
.account-charts .red-day {
  color: #CD2E3A;
}

input {
  color: #000000;
}

form button.submit-button {
  background-color: #16FF00;
}

.action-label-input-button {
  display: flex;
  align-items: center;
}
.action-label-input-button > .form-label {
  font-size: 16px;
}
.action-label-input-button > .form-input {
  flex: 1;
  margin: 8px;
  height: 32px;
}
.action-label-input-button > .action-button {
  background-color: #FDB927;
}

.faq-container .faq-email {
  color: #05D0F5;
  cursor: pointer;
}
.faq-container .faq-email:active {
  text-decoration: underline;
  position: relative;
  top: 2px;
}

#mouse-notification {
  position: absolute;
  background-color: #7851A9;
  color: #FDB927;
  border: solid 1px #FDB927;
  padding: 0 5px;
  border-radius: 5px;
  display: none; /* Start as not displayed */
  opacity: 0; /* Start as fully transparent */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for the opacity */
  z-index: 1000; /* Make sure it does not get hidden behind other elements */
}
#mouse-notification::before {
  content: "";
  position: absolute;
  top: 10px; /* Adjust this to move the arrow up or down */
  left: -10px; /* Position the arrow to the left of the box */
  border-width: 5px;
  border-style: solid;
  border-color: transparent #FDB927 transparent transparent;
  /* The right border is now the same color as the popup background (the arrow points left) */
}

body {
  background-color: #0F0F0F;
  color: #F0EAD6;
  max-width: 1080px;
  margin: auto;
  font-family: "Ubuntu";
  padding: 10px;
}

.clickable-link {
  color: #05D0F5;
}
.clickable-link:hover {
  text-decoration: underline;
  position: relative;
  top: 1px;
}

#main-content {
  padding: 15px;
  background-color: #0F0F0F;
}

/*# sourceMappingURL=main.css.map */
