/* Normalize some basic HTML elements */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #F0EAD6;
  line-height: 1.6;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #F0EAD6;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.mini-calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mini-month-weeks-container {
  padding: 5px;
}

.mini-month-container {
  margin: 2px;
  color: #F0EAD6;
}
.mini-month-container .mini-month-header {
  padding: 15px 0;
  text-align: center;
}
.mini-month-container .mini-month-header .month-and-year {
  font-weight: 600;
}
.mini-month-container .mini-month-header .green-day {
  color: #008000;
}
.mini-month-container .mini-month-header .red-day {
  color: #C60211;
}

.mini-week-container {
  display: flex;
}

.mini-month-day {
  display: inline-block;
  border: solid 1px #E9B43A;
  color: #F0EAD6;
  height: 50px;
  width: 50px;
  margin: 2px;
  padding: 3px;
  line-height: normal;
}
.mini-month-day.padding-day {
  visibility: hidden;
}
.mini-month-day.green-day {
  background-color: #008000;
  border-color: #008000;
}
.mini-month-day.red-day {
  background-color: #C60211;
  border-color: #C60211;
}

.navigation {
  display: flex;
  align-items: center;
  background-color: #0F0F0F;
  padding: 0 10px;
}

.nav-logo {
  height: 75px;
}

.nav-section {
  display: flex;
  color: #E9B43A;
}
.nav-section:last-child {
  margin-left: auto;
}
.nav-section > li:not(:first-child) {
  margin-left: 5px;
}
.nav-section > li a {
  color: #F0EAD6;
}

.weekly-trades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mini-days {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mini-days .day-name {
  font-size: 10px;
}

.mini-days-week {
  display: flex;
  flex-direction: column;
}

.mini-day {
  display: inline-block;
  margin: 2px;
  height: 12px;
  width: 12px;
  border-radius: 2px;
  background-color: gray;
}
.mini-day.green-day {
  background-color: green;
}
.mini-day.red-day {
  background-color: #CD2E3A;
}

table {
  margin: auto;
  border-collapse: collapse;
}
table thead tr {
  border-bottom: solid 3px #00479f;
  color: #E9B43A;
}
table thead tr th {
  min-width: 100px;
  padding: 3px 5px;
  background-color: #CD2E3A;
}
table thead tr th:first-child {
  border-top-left-radius: 5px;
}
table thead tr th:last-child {
  border-top-right-radius: 5px;
}
table tbody {
  color: #000000;
}
table tbody tr td {
  background-color: #F0EAD6;
  padding: 3px 11px;
  text-align: center;
}
table tbody tr td.green-day {
  color: green;
}
table tbody tr td.red-day {
  color: red;
}
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.button {
  color: black;
  padding: 4px;
}

.logout-button {
  background-color: red;
}

.submit-form-button {
  background: green;
  margin: 5px 0;
}

.journal-entry-container .journal-entry-day {
  padding: 10px 0 20px 0;
  max-width: 700px;
  margin: auto;
}
.journal-entry-container .green-day {
  color: #008000;
}
.journal-entry-container .red-day {
  color: #C60211;
}
.journal-entry-container .journal-entry-date {
  font-weight: 600;
  font-size: 24px;
  color: #E9B43A;
}
.journal-entry-container .account-overview-title {
  font-weight: 600;
  border-bottom: solid 1px #FFFFFF;
  padding-bottom: 5px;
}
.journal-entry-container .account-overview-title.pa-account-overview {
  color: #CD2E3A;
}
.journal-entry-container .account-overview-title.eval-account-overview {
  color: #00479f;
}
.journal-entry-container .journal-entry-account-overview {
  padding-top: 15px;
}

.account-charts {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: #0F0F0F;
  color: #F0EAD6;
  max-width: 1080px;
  margin: auto;
  font-family: "Ubuntu";
  padding: 10px;
}

#main-content {
  padding: 15px;
  background-color: #0F0F0F;
}

/*# sourceMappingURL=main.css.map */
