$dark-1: #171010;
$neutral-1: #526D82;
$light-1: #9DB2BF;
$bright-1: #DDE6ED;

$green: #008000;
$red: #C60211;

// Korean Color Scheme
$k-black: #000000;
$k-white: #FFFFFF;
$k-red: #CD2E3A;
$k-blue: #4D96FF;
$k-yellow: #E9B43A;

$k-mint: #2A603B;

