$dark-1: #0F0F0F;
$neutral-1: #EAC696;
$light-1: #9DB2BF;
$bright-1: #F0EAD6;

$green: #008000;
$red: #C60211;

// Korean Color Scheme
$k-black: #000000;
$k-white: #FFFFFF;
$k-red: #CD2E3A;
$k-blue: #00479f;
$k-yellow: #E9B43A;

$k-mint: #2A603B;

// Mexican Color Scheme
$mex-green: #006341;
$mex-white: #FFFFFF;
$mex-red: #C8102E;

$lightest-blue: #C3DEFF;
$light-blue: #ABC1FF;
