.journal-entry-container {
    border: solid 1px white;
    padding: 10px;

    .green-day {
        color: green;
    }

    .red-day {
        color: red;
    }

    .journal-entry-date {
        font-weight: 600;
        font-size: 24px;
        padding-bottom: 15px;
    }

    .account-overview-title {
        font-weight: 600;
        border-bottom: solid 1px white;
        padding-bottom: 5px;
    }

    .journal-entry-account-overview {
        padding-top: 15px;
    }
}
