@import "variables";

.journal-entry-container {
    .journal-entry-day {
        padding: 10px 0 20px 0;
        max-width: 700px;
        margin: auto;
    }

    .green-day {
        color: $green;
    }

    .red-day {
        color: $red;
    }

    .journal-entry-date {
        font-weight: 600;
        font-size: 24px;
        color: $k-white;
    }

    .account-overview-title {
        font-weight: 600;
        border-bottom: solid 1px $k-yellow;
        padding-bottom: 5px;

        &.pa-account-overview {
            color: $k-red;
        }
        &.eval-account-overview {
            color: $k-blue;
        }
    }

    .journal-entry-account-overview {
        padding-top: 15px;
    }
}
