@import "normalize";
@import "mini_calendar";
@import "variables";
@import "navigation";
@import "mini_day";

body {
    background-color: $dark-1;
    color: $light-1;
    width: 1080px;
    margin: auto;
}

