@import "normalize";
@import "mini_calendar";
@import "variables";
@import "navigation";
@import "mini_day";
@import "trades";
@import "executions";
@import "table";
@import "buttons";
@import "journal_entries";
@import "homepage";

body {
    background-color: $dark-1;
    color: $bright-1;
    max-width: 1080px;
    margin: auto;
    font-family: 'Ubuntu';

    // TODO: Need to make responsive so this padding disappears when screen isn't on a desktop size
    padding: 10px;
}

#main-content {
    padding: 15px;
    background-color: $dark-1;
}

