@import "variables";

.mini-calendar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mini-month-container {
    margin: 2px;

    .mini-month-header {
        padding: 15px 0;
        text-align: center;

        .green-day {
            color: $green;
        }

        .red-day {
            color: $red;
        }
    }
}

.mini-week-container {
    display: flex;
}

.mini-month-day {
    margin: 2px;
    padding: 1px;
    display: inline-block;
    border: solid 1px black;
    height: 50px;
    width: 50px;
    &.padding-day {
        visibility: hidden;
    }

    &.green-day {
        background-color: green;
    }
    &.red-day {
        background-color: red;
    }
}

