.weekly-trades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mini-days {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .day-name {
        font-size: 10px;
    }
}

.mini-days-week {
    display: flex;
    flex-direction: column;
}

.mini-day {
    display: inline-block;
    margin: 2px;
    height: 12px;
    width: 12px;
    border-radius: 2px;
    background-color: $gray;

    &.green-day {
        background-color: $pnl-green;
    }

    &.red-day {
        background-color: $pnl-red;
    }
}
