@import "variables";

.mini-calendar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mini-month-weeks-container {
    padding: 5px;
}

.mini-month-container {
    margin: 2px;
    color: $bright-1;

    .mini-month-header {
        padding: 15px 0;
        text-align: center;

        .month-and-year {
            font-weight: 600;
        }
        .green-day {
            color: $green;
        }
        .red-day {
            color: $red;
        }
    }
}

.mini-week-container {
    display: flex;
}

.mini-month-day {
    display: inline-block;
    border: solid 1px $k-yellow;
    color: $bright-1;
    height: 50px;
    width: 50px;
    margin: 2px;
    padding: 3px;

    line-height: normal;

    &.padding-day {
        visibility: hidden;
    }

    &.green-day {
        background-color: $green;
        border-color: $green;
    }
    &.red-day {
        background-color: $red;
        border-color: $red;
    }
}

