.navigation {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.nav-logo {
    height: 75px;
}

.nav-section {
    display: flex;

    &:last-child {
        margin-left: auto;
    }
    
    > li {
        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

