.navigation {
    display: flex;
    align-items: center;
    background-color: $dark-1;
    padding: 0 10px;
}

.nav-logo {
    height: 75px;
}

.nav-section {
    display: flex;
    color: $k-yellow;

    &:last-child {
        margin-left: auto;
    }
    
    > li {
        &:not(:first-child) {
            margin-left: 5px;
        }
        a {
            color: $bright-1;

            &:hover {
                color: $neon-blue;
                position: relative;
                text-decoration: underline;
                top: 1px;
            }
        }
    }
}

