table {
    margin: auto;
    border-collapse: collapse;

    thead {
        tr {
            border-bottom: solid 3px $k-blue;
            color: $k-yellow;

            th {
                min-width: 100px;
                padding: 3px 5px;
                background-color: $k-red;
            }
            th:first-child {
                border-top-left-radius: 5px;
            }
            th:last-child {
                border-top-right-radius: 5px;
            }
            th:not(:last-child) {
            }
            th:not(:first-child) {
            }
            th:nth-child(odd) {
            }
            th:nth-child(even) {
            }
        }
    }

    tbody {
        color: $k-black;
        tr {
            td {
                background-color: $bright-1;
                padding: 3px 11px;
                text-align: center;

                &.green-day {
                    color: green;
                }

                &.red-day {
                    color: red;
                }
            }
            &:last-child {
                td:first-child {
                    border-bottom-left-radius: 5px
                }
                td:last-child {
                    border-bottom-right-radius: 5px
                }
            }
        }
    }
}
