table {
    margin: auto;
    border-collapse: collapse;

    thead {
        tr {
            border-bottom: solid 3px $k-blue;
            color: $k-yellow;

            th {
                min-width: 100px;
                padding: 3px 5px;
                background-color: $k-red;
            }
            th:first-child {
                border-top-left-radius: 5px;
            }
            th:last-child {
                border-top-right-radius: 5px;
            }
            th:not(:last-child) {
            }
            th:not(:first-child) {
            }
            th:nth-child(odd) {
            }
            th:nth-child(even) {
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 3px 11px;
                text-align: center;

                &.green-day {
                    color: $pnl-green;
                }

                &.red-day {
                    color: $pnl-red;
                }

            }
            &:hover {
                position: relative;
                top: 1px;
                text-decoration: underline;
                color: $neon-blue;
            }
            &:last-child {
                td:first-child {
                    border-bottom-left-radius: 5px
                }
                td:last-child {
                    border-bottom-right-radius: 5px
                }
            }
        }
    }
}
