@import "variables";

.trades-table-container {
    border: solid 1px white;
}

.trades-table {
    margin: auto;
}

.trades-table-row {
}

.trades-table-header {
    border: solid 1px white;
    min-width: 100px;
}

.trades-table-row {
}

.trades-table-body {
    tr:nth-child(odd) {
        // css for odd and even rows
    }

    tr:nth-child(even) {
        // css for odd and even rows
        .trades-table-data {
            border-top: solid 1px white;
            border-bottom: solid 1px white;
        }
    }
}


.trades-table-data {
    text-align: center;
    padding: 0 10px;

    .green-day {
        color: green;
    }

    .red-day {
        color: red;
    }
}
