<form action="/users" method="post">
    <label>Username
        <input
                type="text"
                placeholder="Enter Username"
                name="username">
    </label>
    <label>Password
        <input
                type="password"
                placeholder="Enter Password"
                name="password">
    </label>
    <label>Email
        <input
                type="text"
                placeholder="Enter email"
                name="email">
    </label>
    <button type="submit">create user</button>
</form>
