{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="weekly-trades">
        <div class="mini-days">
            <div>
                <div class="day-name">Mo</div>
                <div class="day-name">Tu</div>
                <div class="day-name">We</div>
                <div class="day-name">Th</div>
                <div class="day-name">Fr</div>
            </div>
            {% for trading_week in last_52_weeks_of_trades %}
                <div class="mini-days-week">
                    {% for trade in trading_week.trades %}
                        <span class="{{ trade.class_list | join(sep=' ') }}">
                        </span>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {#1) Total pnl: {{ statistics.total_pnl  }}#}
        {#2) Total trades: {{ statistics.total_trades }}#}
        {#3) Average Winner#}
        {#4) Average Loser#}
    </div>
{% endblock content %}
