{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <html>
        <head>
            <title>{{name}}</title>
        </head>

        <body>
            <h1>Welcome to {{name}}</h1>
            <p>Trades are done through a prop firm and are futures trades.</p>
            <p>Navigate to the Calendar page to see trades.</p>
            <p>Days with profit will be green, and days with losses will be red.</p>
            <p>You can click on days in the calendar to view notes about that day.</p>
        </body>
    </html>
{% endblock content %}
