<div class="mini-month-container">
    <div class="mini-month-header">
        <span>{{ month.name }} {{ month.year }}</span>
        {% if month.total_trades_count > 0 %}
            <div>
                <span class="{{ month.total_pnl | pnl_class }}">Total PnL: {{ month.total_pnl | currency_format }}</span> |
                <span>Win %: {{ (month.winning_trades_count / month.total_trades_count) * 100 | round }}</span>
            </div>
        {% endif %}
    </div>
    {% for trades_in_week in month.trades %}
        {% include "mini_calendar/mini_week.html" %}
    {% endfor %}
</div>
