{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function generateChart(account_data) {
            const ctx = document.getElementById(`account-chart-${ account_data.account_id }`);
            const labels = account_data.trade_days;
            const data = {
                labels: labels,
                datasets: [{
                    label: account_data.account_name,
                    data: account_data.trade_day_pnls,
                    borderColor: 'rgba(233,180,58,.1)',
                    pointBorderColor: function(context) {
                        const value = context.dataset.data[context.dataIndex];
                        return value >= 0 ? 'rgba(0,128,0,0.9)' : 'rgba(198,2,17,0.9)'; // Change point color based on value
                    },
                    fill: {above: 'rgba(0,128,0,0.3)', below: 'rgba(198,2,17,0.3)', target: {value: 0}},
                    cubicInterpolationMode: 'monotone',
                }]
            };
            const config = {
                type: 'line',
                data: data,
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    const value = context.dataset.data[context.dataIndex];
                                    const label = value >= 0 ? 'Above Zero New line checker' : 'Below Zero'; // Custom label
                                    return [label + ': ' + value, 'Foo: bar']; // Display custom text and data value
                                }
                            }
                        }
                    }
                }
            };
            new Chart(ctx, config);
        }
    </script>
    <div class="weekly-trades">
        <div class="mini-days">
            <div>
                <div class="day-name">Mo</div>
                <div class="day-name">Tu</div>
                <div class="day-name">We</div>
                <div class="day-name">Th</div>
                <div class="day-name">Fr</div>
            </div>
            {% for trading_week in last_52_weeks_of_trades %}
                <div class="mini-days-week">
                    {% for trade in trading_week.trades %}
                        <span class="{{ trade.class_list | join(sep=' ') }}">
                        </span>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="account-charts">
        {% for account_chart in accounts_for_pnl_chart %}
            <div>
                <div style="height: 250px;">
                    <canvas id="account-chart-{{ account_chart.account_id }}" class="account-chart"></canvas>
                </div>
                <div class="account-chart-container" style="width: 500px;">
                    Account Name: {{ account_chart.account_name }}
                    Total PnL: {{ account_chart.total_pnl | currency_format }}
                    Largest Day: {{ account_chart.largest_day | currency_format }}
                    Total trades: {{ account_chart.total_trades_count }}
                    {% if account_chart.total_winning_days > 0 %}
                        Win %: {{ (account_chart.total_trades_count / account_chart.winning_trades_count) * 100 | round }}
                        Average Winning Day: {{ (account_chart.winning_days_pnl_total / account_chart.total_winning_days) | currency_format }}
                    {% else %}
                        Win %: 0
                        Average Winning Day: $0.00
                    {% endif %}
                    {% if account_chart.total_losing_days > 0 %}
                        Average Losing Day: {{ (account_chart.losing_days_pnl_total / account_chart.total_losing_days) | currency_format }}
                    {% else %}
                        Average Losing Day: $0.00
                    {% endif %}
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    let account_data = {
                        account_id: {{ account_chart.account_id }},
                        account_name: '{{ account_chart.account_name }}',
                        trade_days: {{ account_chart.trade_days }},
                        trade_day_pnls: {{ account_chart.trade_day_pnls }}
                    };
                    generateChart(account_data);
                });
            </script>
        {% endfor %}
    </div>
{% endblock content %}
