{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function generateChart(account_data) {
            const ctx = document.getElementById(`account-chart-${ account_data.account_id }`);
            const labels = account_data.trade_days;
            const data = {
                labels: labels,
                datasets: [{
                    label: account_data.account_name,
                    data: account_data.trade_day_pnls,
                    borderColor: 'rgba(233,180,58,.5)',
                    borderWidth: 1,
                    pointBorderColor: function(context) {
                        const value = context.dataset.data[context.dataIndex];
                        return value >= 0 ? 'rgba(0,128,0,0.9)' : 'rgba(198,2,17,0.9)'; // Change point color based on value
                    },
                    fill: {above: 'rgba(0,128,0,0.3)', below: 'rgba(198,2,17,0.3)', target: {value: 0}},
                    cubicInterpolationMode: 'monotone',
                }]
            };
            const config = {
                type: 'line',
                data: data,
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    const value = context.dataset.data[context.dataIndex];
                                    const label = value >= 0 ? 'Above Zero New line checker' : 'Below Zero'; // Custom label
                                    return [label + ': ' + value, 'Foo: bar']; // Display custom text and data value
                                }
                            }
                        }
                    }
                }
            };
            new Chart(ctx, config);
        }
    </script>
    <div class="weekly-trades">
        <div class="mini-days">
            <div>
                <div class="day-name">Mo</div>
                <div class="day-name">Tu</div>
                <div class="day-name">We</div>
                <div class="day-name">Th</div>
                <div class="day-name">Fr</div>
            </div>
            {% for trading_week in last_52_weeks_of_trades %}
                <div class="mini-days-week">
                    {% for trade in trading_week.trades %}
                        <span class="{{ trade.class_list | join(sep=' ') }}">
                        </span>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="account-charts">
        {% for account_chart in accounts_for_pnl_chart %}
            <div class="account-charts-container">
                <div class="account-charts-chart-container">
                    <div class="account-charts-title">
                        Account Name: {{ account_chart.account_name }}
                        <br>
                        <span>Total PnL:</span> <span class="{{ account_chart.total_pnl | pnl_class }}">{{ account_chart.total_pnl | currency_format }}</span>
                    </div>
                    <div class="account-charts-chart">
                        <canvas id="account-chart-{{ account_chart.account_id }}"></canvas>
                    </div>
                    <div class="account-charts-info-container">
                        <span class="account-charts-info-items">
                            <div class="account-charts-info-item">
                                <span class="chart-info-label">Largest Day:</span> <span class="{{ account_chart.largest_day | pnl_class }}">{{ account_chart.largest_day | currency_format }}</span>
                            </div>
                            <div class="account-charts-info-item">
                                <span class="chart-info-label">Win %:</span> <span>{{ account_chart.trades_win_percent | round }}</span>
                            </div>
                            <div class="account-charts-info-item">
                                <span class="chart-info-label">Total trades:</span> <span>{{ account_chart.total_trades_count }}</span>
                            </div>
                        </span>
                        <span class="account-charts-info-items">
                            <div class="account-charts-info-item">
                                <span class="chart-info-label">Avg Day:</span> <span class="{{ account_chart.average_day | pnl_class }}">{{ account_chart.average_day | currency_format }}</span>
                            </div>
                            <div class="account-charts-info-item">
                                <span class="chart-info-label">Avg Winning Day:</span> <span class="{{ account_chart.average_winning_day | pnl_class }}">{{ account_chart.average_winning_day | currency_format }}</span>
                            </div>
                            <div class="account-charts-info-item">
                                <span class="chart-info-label">Avg Losing Day:</span> <span class="{{ account_chart.average_losing_day | pnl_class }}">{{ account_chart.average_losing_day | currency_format }}</span>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    let account_data = {
                        account_id: {{ account_chart.account_id }},
                        account_name: '{{ account_chart.account_name }}',
                        trade_days: {{ account_chart.trade_days }},
                        trade_day_pnls: {{ account_chart.trade_day_pnls }}
                    };
                    generateChart(account_data);
                });
            </script>
        {% endfor %}
    </div>
{% endblock content %}
