{% extends "base.html" %}

{% block content %}
    I am on the trading page
    <div class="import-container">
        <span>
            <form action="/trades/process_trades" method="post">
                <button type="submit">Process Pending Trades</button>
            </form>
        </span>
        <span>
            This section will be expandable/collapsable and the location where users can upload trades.
            <br>
            I am thinking the form submission will be in javascript.
            <br>
            We might need an imports table to keep track of imports and list the status of the last few import here.
        </span>
        <a>Import</a>
    </div>
    <div class="filters-container">
        This will be the container with the filters
    </div>
    <div class="trades-table-container">
        <table class="trades-table">
            <thead>
                <tr class="trades-table-row">
                    <th class="trades-table-header">
                        PnL
                    </th>
                    <th class="trades-table-header">
                        Entry Time
                    </th>
                    <th class="trades-table-header">
                        Ticker
                    </th>
                    <th class="trades-table-header">
                        Duration
                    </th>
                    <th class="trades-table-header">
                        Side
                    </th>
                    <th class="trades-table-header">
                        Account
                    </th>
                </tr>
            </thead>
            <tbody class="trades-table-body">
                {% for trade in trades_in_range %}
                    <tr class="trades-table-row">
                        <td class="trades-table-data">
                            {% if trade.pnl >= 0 %}
                                <span class="green-day">+{{ trade.pnl | currency_format }}</span>
                            {% else %}
                                <span class="red-day">{{ trade.pnl | currency_format }}</span>
                            {% endif %}
                        </td>
                        <td class="trades-table-data">{{ trade.entry_time }}</td>
                        <td class="trades-table-data">{{ trade.ticker }}</td>
                        <td class="trades-table-data">{{ trade.duration_seconds }}</td>
                        <td class="trades-table-data">
                            {% if trade.is_long %}
                                LONG
                            {% else %}
                                SHORT
                            {% endif %}
                        </td>
                        <td class="trades-table-data">{{ trade.account_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
