{% extends "base.html" %}

{% block title %}
    Faq
{% endblock title %}

{% block content %}
    <div class="faq-container">
        <h1><b>F.A.Q.</b></h1>
        &nbsp;
        <p>
        Feel free to reach out to me at <span id="contact-email" class="faq-email">gwoun@jinz.co</span> with any questions, comments, requests, or concerns. Thanks for stopping by!
        </p>
        <h2>Adding images to journal entries</h2>
        <div id="{{ google_image_to_markdown_faq_anchor }}">
            <p>
            Images can be easily added to journal entries using Google Images. Here
            </p>
        </div>
    </div>
    <script src="/static/js/utils.js"></script>
    <script>
        const contactEmailElement = document.getElementById('contact-email');
        addCopyToClipboardWithNotificationEvent(contactEmailElement);
    </script>
{% endblock content %}
